@font-face {
  font-family: 'Wallie';
  src: url('fonts/WallieFit.woff') format('woff'); /* Super Modern Browsers */
 
}

body {
    font-family: Wallie, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-image: url('res/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin:1.9vw;
}

.documentfirma {
    clear: left;
    float: left;
    width: 100%;
    font-size: 12px;
    font-family:inherit;
}

.field1 {
    clear: left;
    float: left;
    margin-top: 5px;
    margin: 2px;
    padding: 2px;
    margin-left:0px;
    padding-left:0px;
    border-radius: 4px;
    font-size: 14px;
}
.field2 {
    float: left;
    margin-top: 5px;
    margin: 2px;
    padding: 2px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #FFFFDD;
    font-size: 14px;
}

.abm {
    border:1px solid gray;
    border-radius: 8px;
    padding: 10px;
}

.keyword {
    border: 1px solid black;
    padding: 4px;
    border-radius: 8px;
    background-color: #C4F0FF;
    margin: 4px;    
    box-shadow: 3px 3px silver;
}
.node {
  cursor: pointer;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.simtxt {
    border: 3px solid black;
    padding: 8px;
    border-radius: 20px;
    background-color: #FFFFFF;
    opacity: 0.6;
    font-size: 20px;
    margin: 4px;
}

.objetivo {
    border: 1px solid #C0C0C0;
    padding: 5px;
    border-radius: 3px;
    background-color: #FFFFFF;
    opacity: 0.6;
    position: fixed;
    bottom: -14px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align:center; 
    visibility:hidden;    
}

.flor {
}

.florImage {
}

.doc {
}

.docImage {
}

.borde {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
}
.small {
    font-size: small;
}

.seguimientoEstado {
    border: 1px solid #CCCCCC;
    padding: 5px;
    margin: 2px;
    border-radius: 8px;
    background-color: aliceblue;
    width: 675px;
}

.cuadro {
    border: 1px solid #cccccc;
    text-align: left;
    padding: 5px;
    margin: 1px;
    border-radius:4px;
}
.editarBig {
    padding: 2px;
    padding-left: 7px;
    margin: 2px;
    border: 2px solid #C0C0C0;
    border-radius: 6px;
    background-color: #FFFFCC;
    font-size: 16px;    
}

.editarrtf {
    padding: 2px;
    padding-left: 5px;
    margin: 1px;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    background-color: #FFFFDD;
    font-size: 14px;
    color: #006699;
}
.burbuja {
    padding: 4px;
    padding-left: 5px;
    border: 1px solid #C0C0C0;
    border-radius: 8px;
    background-color: #FFFFDD;
    font-size: 16px;
    margin: 5px;
}
.editar {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    background-color: #FFFFDD;
    font-size: 16px;
}
.editarComentario {
    padding: 2px;
    padding-left: 5px;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    background-color: #FFFFDD;
    font-size: 12px;
}
.error {
    border: 4px solid #FF5050;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    background-color: #FFCCCC;
    opacity: 0.8;
    font-size: 12px;    
    font-weight: bold;
    clear:left;
    float:left;
    width:-webkit-fill-available;
}

.errorfino {
    padding: 2px;
    border: 1px solid #FF5050;
    border-radius: 4px;
    background-color: #FFCCCC;
    font-size: 16px;    
}

.textoBig {
    padding: 5px;
    margin: 2px;
    font-size: 16px;
    overflow: auto;
    border:0px;
}

.texto {
    padding: 5px;
    margin: 2px;
    font-size: 16px;
    overflow: auto;
    border:0px;
}

.tip {
    border: 3px solid #FF0000;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    background-color: #FFFFFF;
    color: #CC0000;
    font-size: 18px;
    text-align: center;
}

.op {
    padding: 5px;
    font-size: 16px;
    width: 100%;
}

.opValor {
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    text-align: right;
    width: 100%;
}

.msg {
    padding: 5px;
    font-size: 18px;
    color: red;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2.5px;
}

.node text {
    font: 16px sans-serif;
    font-weight: bold;
}

.btnimg {
   cursor: pointer;
}
.mensaje {
    padding: 5px;
    margin: 10px;
    border: 1px solid #009933;
    border-radius: 4px;
    background-color: #CCFFCC;
    font-size: 10px;    
    overflow: auto;
    opacity: 0.7;
}

/* @media only screen and (max-width: 2000px) {  */

.titulo0 {
    padding: 2px;
    font-size: 36px;
    font-family: 'Times New Roman';
}
.titulo1 {
    padding: 2px;
    font-size: 28px;
}

.titulo2 {
    padding: 2px;
    font-size: 24px;
}

.titulo3 {
    padding: 2px;
    font-size: 18px;
}
.titulo4 {
    padding: 2px;
    font-size: 16px;
}
.titulo5 {
    padding: 2px;
    font-size: 14px;
}
.titulo6 {
    padding: 2px;
    font-size: 12px;
}
.img {
    width: 4vh;
    height: 4vh;
    cursor: pointer;
}
.panelSim {
    padding: 5px;
    position: fixed;
    right: 0vw;
    top: 25vh;
    text-align: right;
}
.menuItem {
    padding-top:1vh;
    font-size: 16px;
    cursor:pointer;
    color:blue;
    text-decoration: underline;
    z-index:5;
}
.icono2 {
    width:1.6vw;
    height:auto;
    vertical-align:middle;
    margin:auto;
}
.item {
    padding: 10px;
    font-size: 16px;
}
.tema {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-top:15px;
    padding-left:0px;
}
.smalltip {
    border: 1px solid #339966;
    padding: 5px;
    border-radius: 14px;
    color: #339966;
    font-size: 12px;
    text-align: center;
    margin: 2px;
    width: -webkit-fill-available;
    background-color: #FBFDFC;
}
.documento {
    position:absolute;
    border: 4px solid gray;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    border-color: #403d3d;
    background-color: #FFFFFF;
    opacity: 1; 
    overflow: scroll;
    top: 2.5vh;
    left: 2.5vw;
    bottom: 2.5vh;
    right: 2.5vw;
    display:none;
}
.popup {
    position:absolute;
    border: 4px solid gray;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    border-color: #403d3d;
    background-color: #FFFFFF;
    display: none;
    text-align:left;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    max-height:90%;
    z-index:5;
}
input[readonly] {
    background-color: gainsboro;
}
.popupmsg {
    position: absolute;
    border: 4px solid gray;
    padding: 26px;
    border-radius: 10px;
    border-color: #403d3d;
    background-color: aliceblue;
    opacity: 0.95;
    display: none;
    text-align: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-height: 20%;
    z-index: 10;
    max-width: 85%;
    min-height: 15%;
    vertical-align:middle;
    font-size:20px;
}
.alertaicon {
    width: 1.6vw;
    height: auto;
    vertical-align: middle;
    margin: auto;
    cursor: pointer;
    display: none;
}
.popupHeader {
    font-size:16px;
    position:relative;
    top:0px;
    height:25px;
    left:0px;
    right:0px;
    border-bottom: 1px solid silver;
    padding:2px;
}
.popupFooter {
    border-top: 1px solid silver;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.popupContent {
    overflow: auto;
    position: relative;
    height: calc(100% - 85px);
    padding: 2px;
}
.perfil {
    height:90%;
}
.alertas {
    width:50%;
}
.modificarGrupo {
    height:90%;
    width:800px;
}
.subGrupo {
    width:800px;
    height:90%;
}
.seguimiento {
    width:800px;
    height:90%;
}
.cambiarClave {
    width:288px;
}
.modelosDebate {
    position:absolute;
    border: 4px solid gray;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    border-color: #403d3d;
    background-color: #C6ECFF;
    opacity: 0.9; 
    display: none;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -200px;
    width: 600px;
    height: min-content;
    z-index:5;
}
.modelosEvaluacion {
    position:absolute;
    border: 4px solid gray;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    border-color: #403d3d;
    background-color: #C6ECFF;
    opacity: 0.9; 
    display: none;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -200px;
    width: 600px;
    height: min-content;
    z-index: 5;
}
.rotarpantalla {
    display:none;
}
.ventanacrear {
    margin: auto;
    padding: 5px;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: #403d3d;
    background-color: #C6ECFF;
    width:500px;
}
.ventanaltausuario {
    position:absolute;
    left: 50%;
    margin-left: -160px;
    padding: 5px;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: #403d3d;
    background-color: #C6ECFF;
    width: 380px;
    text-align:center;
    display:none;
}
.ventanalogin {
    position:absolute;
    padding: 5px;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: #403d3d;
    background-color: #C6ECFF;
    width: 350px;
}
.ventanaultimaflor {
    margin: auto;
    padding: 20px;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: #403d3d;
    background-color: #C6ECFF;
    opacity: 0.9;
}
.loginFlor {
    visibility:hidden;
    position:absolute;
    cursor:pointer;   
}
.ventana {
    margin: auto;
    padding: 5px;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: #403d3d;
    background-color: #C6ECFF;
    opacity: 0.8;
}
.ventanaclave {
    margin: auto;
    padding: 5px;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: #403d3d;
    background-color: #C6ECFF;
    opacity: 0.8;
}
.disabled {
    background-color: #f5f5f0;    
}
.txt {
    margin-top: 5px;
    margin: 2px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #FFFFDD;
    font-size: 16px;
}
.btn {
    border: 2px solid #006666;
    background-color: #0066CC;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    margin-left: 4px;
    margin-top: 4px;
    font-family:inherit;
    border-radius: 10px;
    padding:5px;
}
.btnnok {
    border: 2px solid #006666;
    background-color: lightcoral;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 4px;
    margin-top: 4px;
    font-family: inherit;
    margin-right: 5px
}

.btnok {
    border: 2px solid teal;
    background-color: teal;
    color: #FFFFFF;
    border-radius: 10px;
    padding:5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 4px;
    margin-top: 4px;
    font-family: inherit;
}
.btnStop {
    background-color: #CC0000;
}
.btn2 {
    border: 2px solid #006666;
    background-color: #0066CC;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0px 0px 0px 5px;
    font-family: inherit;
}
.btn3 {
    border: 2px solid #006666;
    background-color: #0066CC;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 2px;
    font-size: 12px;
    cursor: pointer;
    margin: 0px 0px 0px 5px;
    font-family: inherit;
}
.btnComentario {
    border: 1px solid #006666;
    background-color: #0066CC;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    margin: 0px 0px 0px 5px;
    font-family: inherit;
}
.btnDis {
    border: 2px solid #006666;
    background-color: #CCCCCC;
    color: #FFFFFF;
    border-radius: 10px;
    padding:5px;
    font-size: 16px;
    cursor: pointer;
    font-family:inherit;
}
.btnDis2 {
    border: 2px solid #006666;
    background-color: #CCCCCC;
    color: #FFFFFF;
    border-radius: 10px;
    padding:5px;
    font-size: 16px;
    cursor: pointer;
    font-family:inherit;
}
.divborde {
    border: 1px solid #cccccc;
    padding: 5px;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
}
.panel {
    border: 4px solid black;
    padding: 5px;
    border-radius: 15px;
    background-color: #FFFFFF;
    border-color: #403d3d;
    opacity: 0.8;
    position: absolute;
    visibility: hidden;
    overflow: scroll;
}
.seccion {
    padding: 2px;
    margin: 2px;
    font-size: 14px;
    vertical-align:top;
    width: 75%;
    clear:left;
    float:left;
}
.comentarios {
    padding: 4px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    vertical-align:top;
    width: 20%;
    float:left;
}
.comentarios2 {
    padding: 4px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    vertical-align:top;
    width: 80%;
    float:right;
    clear:right;
}
.comentario {
    padding: 2px;
    margin: 2px;
    border: 1px solid #009933;
    border-radius: 4px;
    background-color: #CCFFCC;
    font-size: 12px;    
    overflow: auto;
}
.votos {
    border: 1px solid #C0C0C0;
    padding: 2px;
    border-radius: 16px;
    background-color: #E1E1E1;
    vertical-align: middle;
    color: #999999;
    width: fit-content;
    margin-top:2px;
    margin-bottom:2px;
}
.grupos {
    display:none;
    position: fixed;
    top: 5vw;
    left: 13vw;
    right: 13vw;
    bottom: 5vw;
    padding: 25px;
    text-align: center;
    font-size:18px;
}
.grupo {
    font-size:22px;
    padding:11px;
}
.menuimg {
    cursor: pointer;
    width: 50px;
    height: auto;
    padding: 5px;
}
.menuarbol {
    opacity: 0.8;
    visibility:hidden;
    position:fixed;
    bottom:10px;
    margin-left:-61px;
    left:50%;
}
.menuqueso {
    opacity: 0.8;
    visibility:hidden;
    position:fixed;
    bottom:30px;
    margin-left: -25px;
    left:50%;
}
.pie {
    font-size: 10px;
    padding: 5px;
    position: fixed;
    bottom: 0vh;
    width: 100%;
    text-align: center;
    display: none;
}
.atras {
    position: fixed;
    left: 5px;
    top: 5px;
    width: 60px;
    height: auto;
    cursor: pointer;
}
.tituloPagina {
    font-weight: bold;
    padding: 1px;
    font-size: 16px;
    position: fixed;
    left: 70px;
    top: 0px;
    font-size: 23px;
    padding-left: 1%;
    padding-top: 1%;
}
.panelUsuario {
    position: fixed;
    left: 0.3vw;
    top: 9vh;
    display:none;
    margin-top: 25px;
    margin-top: 1vh;
    color: gray;
}
.panelUsuarioNombre
{
    padding-top:10px;
    padding-bottom:10px;
    min-width: 70px;
}
.panelConsenso {
    position: fixed;
    left: 0.3vw;
    top: 16vh;
    display: none;
    padding: 5px;
    margin-top: 25px;
    margin-top: 1vh;
    color: gray;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
}
.panelQueso {
    position: fixed;
    left: 0.3vw;
    top: 16vh;
    display: none;
    padding: 5px;
    margin-top: 25px;
    margin-top: 1vh;
    color: gray;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
}
.panelGrupo {
    position: fixed;
    left: 0.3vw;
    top: 16vh;
    display: none;
    padding: 5px;
    margin-top: 25px;
    margin-top: 1vh;
    color: gray;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
}
.info {
    position:fixed;
    bottom: 3px;
    right:3px;
    visibility: hidden;
    padding: 5px;
    margin-top: 5px;
    color: gray;
    overflow: auto;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 18px;
}
.infoImg {
    clear: left;
    float: left;
    border-radius: 15px;
    margin: 15px;
}
.modeloBox {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    min-height: 150px;
    min-width: 275px;
}
.modeloIcon {
    width: 275px;
}
.movilePie {  
    display:none;
}
.ustatus{
    font-size:12px;
}
.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 800px)  {
    body {
        height:2000px;
    }
    .popupmsg {
        padding: 6px;
        width: 85%;
        min-height: 30%;
    }
    .titulo0 {  
        padding: 1px;
        font-size: 22px;
    }
    .titulo1 {
        font-weight: bold;.te
        padding: 1px;
        font-size: 16px;
    }
    .titulo2 {
        padding: 1px;
        font-size: 14px;
    }
    .titulo3 {
        padding: 1px;
        font-size: 14px;
    }
    .titulo4 {
        padding: 2px;
        font-size: 12px;
    }
    .img {
        cursor:pointer;
        width: 8vh;
        height: 8vh;
    }
    .menuItem {
        padding: 0px;
        font-size: 12px;
        padding-top:6px;
        padding-bottom:1.2vh;
        cursor:pointer;
        color:blue;
        text-decoration: underline;
    }
    .documento {
        margin: 0px;
        border: none;
        border-radius: 0px;
        left: 0px;
        top: 0px;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        overflow: scroll;
    }
    .popup {
        position:fixed;
        margin: 0px;
        border: none;
        padding: 5px 5px 5px 5px;
        border-radius: 0px;
        background-color: #FFFFFF;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom:0px;
        overflow: scroll;
        transform: none;
        max-height:none;
    }
    .popupFooter {
        height:min-content;
        position:absolute;
        bottom:0px;
        left:0px;
        right:0px;
        height:50px;
    }
    .popupContent {
        position:absolute;
        top:32px;
        bottom:51px;
        left:0px;
        right:0px;
        height: auto;
    }
    .popupHeader {
        position:absolute;
        top:0px;
        height:27px;
        left:0px;
        right:0px;
    }
    .perfil {
        height:100%;
    }
    .alertas {
        width:-webkit-fill-available;
    }
    .modificarGrupo {
        height:100%;
        width:-webkit-fill-available;
    }
    .subGrupo {
        width: -webkit-fill-available;
        height:100%;
    }
    .seguimiento {
        height: 100%;
        width: -webkit-fill-available;
    }
    .cambiarClave {
        width:100%;
    }
    .modelosDebate {
        margin: 0px;
        border: none;
        padding: 5px 5px 5px 5px;
        border-radius: 0px;
        background-color: #C6ECFF;
        opacity: 0.9;
        display: none;
        position: absolute;
        left: 0px;
        top: 0px;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        overflow: scroll;
    }
    .modelosEvaluacion {
        margin: 0px;
        border: none;
        padding: 5px 5px 5px 5px;
        border-radius: 0px;
        background-color: #C6ECFF;
        opacity: 0.9; 
        display: none;
        position: absolute;    
        left: 0px;
        top: 0px;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        overflow: scroll;
    }
    .rotarpantalla {
        display:none;
    }
    .tema {
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
        padding-left: 0px;
        padding-bottom: 0px;
    }
    .smalltip {
        border: 1px solid #339966;
        padding: 2px;
        margin-left:0px;
        border-radius: 5px;
        color: #339966;
        font-size: 10px;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 2px;
        width: -webkit-fill-available;
        background-color: #E8F7EF;
    }
    .ventana {
        margin: 0px;
        border: none;
        padding: 5px 5px 5px 5px;
        border-radius: 0px;
        background-color: #C6ECFF;
        opacity: 0.9; 
        position: absolute;    
        left: 0px;
        top: 0px;
        width: 99vw;
        height: 100%;
        overflow: scroll;
    }
    .ventanagrupo {
        margin: 0px;
        border: none;
        padding: 5px 5px 5px 5px;
        border-radius: 0px;
        background-color: #C6ECFF;
        opacity: 0.9; 
        position: absolute;    
        left: 0px;
        top: 0px;
        width: 99vw;
        height: 100%;
        overflow: scroll;
    }
    .ventanaultimaflor {
        margin: auto;
        padding: 5px;
        border-style: solid;
        border-width: 4px;
        border-radius: 15px;
        border-color: #403d3d;
        background-color: #C6ECFF;
        opacity: 0.8;
    }
    .txt {
        margin-top: 5px;
        margin: 2px;
        padding: 2px;
        border: 1px solid #cccccc;
        border-radius: 4px;
        background-color: #FFFFDD;
        font-size: 14px;
    }
    .btn {
        border: 1px solid #006666;
        background-color: #0066CC;
        color: #FFFFFF;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        padding: 8px;
        margin-left: 5px;
        margin-top: 3px;
        margin-left: 3px;
        font-family: inherit;
        float: left;
    }
    .btnok {
        border: 1px solid teal;
        background-color: teal;
        color: #FFFFFF;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        padding: 8px;
        margin-left: 5px;
        margin-top: 3px;
        margin-left: 3px;
        font-family: inherit;
        float:left;
    }
    .btnnok {
        border: 1px solid #006666;
        color: #FFFFFF;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        padding: 8px;
        margin-left: 5px;
        margin-top: 3px;
        margin-left: 3px;
        font-family: inherit;
        float: right;
        background-color: lightcoral;
        margin-right: 5px
    }

    .btn2 {
        border: 1px solid #006666;
        border-radius: 8px;
        font-size: 12px;
    }
    .btn3 {
        border: 1px solid #006666;
        border-radius: 8px;
        font-size: 10px;
    }
    .btnComentario {
        border: 1px solid #006666;
        border-radius: 8px;
        font-size: 10px;        
    }
    .btnDis {
        border: 1px solid #006666;
        background-color: #CCCCCC;
        color: #FFFFFF;
        border-radius: 8px;
        font-size: 12px;
        cursor: pointer;
        font-family:inherit;
    }

    .btnDis2 {
        border: 1px solid #006666;
        background-color: #CCCCCC;
        color: #FFFFFF;
        border-radius: 8px;
        font-size: 12px;
        cursor: pointer;
        font-family:inherit;
    }
    .table {
        border-collapse:collapse;
        border: none;
        padding: 2px;
        border-radius: 0px;
        font-size: 10px;
    }
    .divborde {
        border: none;
        padding: 5px;
        margin: 5px 0px 5px 0px;
    }
    .panel {
        position: absolute;    
        left: 0px;
        top: 0px;
        width: 99vw;
        height: 100%;
        border: none;
        padding: 5px;
        background-color: #FFFFFF;
        opacity: 0.8;
        position: absolute;
        visibility: hidden;
        overflow: scroll;
    }
    .seccion {
        padding: 2px;
        margin: 2px;
        font-size: 14px;
        vertical-align:top;
        width: -webkit-fill-available;
        clear:left;
        float:left;
    }
    .comentarios {
        padding: 1px;
        border: 1px solid #c0c0c0;
        border-radius: 5px;
        vertical-align: top;
        width: 80%;
        clear: right;
        float: right;
        background-color: #F2F2F2;
    }
    .comentario {
        padding: 2px;
        margin:2px;
        border: 1px solid #009933;
        border-radius: 4px;
        background-color: #CCFFCC;
        font-size: 10px;    
        overflow: auto;
        opacity: 0.7;
    }
    .votos {
        border: 1px solid #C0C0C0;
        padding: 2px;
        font-size:10px;
        border-radius: 8px;
        background-color: #E1E1E1;
        vertical-align: middle;
        color: #999999;
        width: fit-content;
        margin-top:10px;
    }
    .tip {
        visibility:hidden;
    }
    .ventanalogin {
        padding: 5px;
        border-style: solid;
        border-width: 4px;
        border-radius: 10px;
        border-color: #403d3d;
        background-color: #C6ECFF;
        opacity: 0.8;
        width: 270px;
    }
    .loginFlor {
        width: 135px ;
        height:auto;
    }
    .grupos {
        position: fixed;
        top: 1vw;
        left: 3vw;
        right: 3vw;
        padding: 25px;
        text-align: center;
    }
    .grupo {
        font-size:14px;
        padding: 8px;
    }
    .editarComentario {
        padding: 2px;
        padding-left: 5px;
        border: 1px solid #C0C0C0;
        border-radius: 4px;
        background-color: transparent;
        font-size: 10px;
    }
    .ventanacrear {
        margin: 0px;
        left: 0px;
        top: 0px;
        position: absolute;
        border-radius: 0px;
        border-style: none;
        background-color: #C6ECFF;
        opacity: 0.9;
        width: -webkit-fill-available;
        overflow: auto;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
    }
    .menuimg {
        cursor: pointer;
        width: 50px;
        height: auto;
        padding: 6px;
    }
    .menuarbol {
        padding: 2px;
        opacity: 0.8;
        visibility:hidden;
        position:fixed;
        bottom:70px;
        margin-left:-66px;
        left:50%;
    }
    .menuqueso {
        padding:2px;
        opacity: 0.8;
        visibility:hidden;
        position:fixed;
        bottom:10px;
        margin-left: -20px;
        left:50%;
    }
    .pie {
        color: gray;
        font-size: 14px;
        width: -webkit-fill-available;
        margin-left: 15px;
        margin-right: 15px;
    }
    .atras {
        position: fixed;
        left: 5px;
        top: 0px;
        width: 40px;
        height: auto;
        cursor: pointer;
    }
    .tituloPagina {
        font-weight: bold;
        padding: 1px;
        font-size: 16px;
        position: fixed;
        left: 55px;
        top: 8px;
        font-size: 2vw;
    }
    .logo {
        width: 35px;
        height: auto;
        padding: 5px;
    }
    .panelUsuario {
        left: 0.3vw;
        top: 10vh;
    }
    .panelUsuarioNombre {
        font-size:12px;
    }
    .panelConsenso {
        position: fixed;
        left: 0.3vw;
        top: 20vh;
        display: none;
        padding: 5px;
        margin-top: 25px;
        margin-top: 1vh;
        color: gray;
        border: 1px solid gray;
        padding: 5px;
        border-radius: 10px;
    }
    .panelQueso {
        position: fixed;
        left: 0.3vw;
        top: 20vh;
        display: none;
        padding: 5px;
        margin-top: 25px;
        margin-top: 1vh;
        color: gray;
        border: 1px solid gray;
        padding: 5px;
        border-radius: 10px;
    }
    .panelGrupo {
        position: fixed;
        left: 0.3vw;
        top: 20vh;
        display: none;
        padding: 5px;
        margin-top: 25px;
        margin-top: 1vh;
        color: gray;
        border: 1px solid gray;
        padding: 5px;
        border-radius: 10px;
    }
    .info {
        font-size: 12px;
        width: min-content;
        min-width: 250px;
    }
    .infoImg {
        border-radius: 10px;
        margin: 5px;
        width:40%;
        height:auto;
    }
    .msg {
        padding: 2px;
        font-size: 10px;
        color: red;
    }
    
    .movilePie {
        display:block;
    }
    .modeloBox {
        width: -webkit-fill-available;
    }
    .texto {
        padding-left: 0px;
        margin-left: 0px;
    }
    .documentfirma {
        font-size: 10px;
    }
    .field1 {
        clear: left;
    }
    .pieItem {
        color: gray;
        margin-top: 15px;
        padding-bottom: 15px;
        white-space: nowrap;
    }
    .seguimientoEstado {
        width: 500px;
    }
    .ustatus {
        font-size: 10px;
    }

}

@media only screen and (max-width: 400px) {
    .panelGrupo {
        top: 70px;
        font-size: 12px;
    }
    .panelUsuario {
        top: 25px;
    }
    .atras {
        top: 5px;
        width: 9vw;
    }
    .icono2 {
        width: 3.5vw;
    }
    .img {
        width: 4vh;
        height: 4vh;
    }
    .tituloPagina {
        padding: 1px;
        font-size: 16px;
        left: 40px;
        top: 5px;
        padding-left: 1%;
        padding-top: 1%;
        width: 200px;
    }
    .panelQueso {
        top: 70px;
        font-size: 12px;
    }
    .panelConsenso {
        top: 70px;
        font-size: 12px;
    }
    .ventanaltausuario {
        position: absolute;
        left: 15px;
        right: 15px;
        top: 90px;
        height: 330px;
        width: auto;
        margin-left: 0px;
        padding: 5px;
        display: none;
    }
    .pie {
    }
    .alertaicon {
        width: 16px;
    }
    .seguimientoEstado {
        width: 230px;
    }
    .uploadIcon
    {
        display:none;
        visibility:hidden;
    }
    .panelSim {
        top: 14vh;
    }
    .ustatus {
        font-size: 10px;
    }


}

@media only screen and (max-height: 500px) {
    .pie {
        visibility: hidden;
    }
}

p {
    display: block;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


