<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="Default.htm"/>
        <add value="default.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="SMTPURL" value="mail.cooperativa.cat"/>
    <add key="SMTPFrom" value="lania@cooperativa.cat"/>
    <add key="SMTPUser" value="lania@cooperativa.cat"/>
    <add key="SMTPPass" value="19ostias."/>
    <add key="serverAdmin" value="sabtvg@gmail.com"/>
  </appSettings>
</configuration>