<?xml version="1.0" encoding="UTF-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="Default.htm" />
                <add value="default.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>