<?xml version="1.0" encoding="UTF-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <appSettings>
    <add key="SMTPURL" value="mail.nabu.pt" />
    <add key="SMTPFrom" value="nabu@nabu.pt" /> 
    <add key="SMTPUser" value="nabu@nabu.pt" />
    <add key="SMTPPass" value="Heart1974()" /> 
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="default.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>  