body {
    font-family: verdana, Geneva, Tahoma, sans-serif;
    background-image: url("res/background.jpg");    
    font-size: 14px;
}

.node {
  cursor: pointer;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.btnPlay {
    border: 3px solid black;
    padding: 8px;
    border-radius: 20px;
    background-color: #FFFFFF;
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 4px;
}

.btnStop {
    border: 3px solid black;
    padding: 8px;
    border-radius: 20px;
    background-color: #CC0000;
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 4px;
}

.simtxt {
    border: 3px solid black;
    padding: 8px;
    border-radius: 20px;
    background-color: #FFFFFF;
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 4px;
}

.objetivo {
    border: 1px solid #C0C0C0;
    padding: 5px;
    border-radius: 10px;
    background-color: #FFFFFF;
    opacity: 0.6;
    position: absolute;
    top: 95%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align:center; 
    visibility:hidden;    
}

.flor {
}

.florImage {
}

.doc {
}

.docImage {
}

.borde {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

.documento {
    border: 8px solid black;
    padding: 5px 15px 5px 15px;
    border-radius: 22px;
    background-color: #FFFFFF;
    opacity: 0.9;
    position: absolute;    
    visibility: hidden;
    overflow: scroll;
}

.small {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.panel {
    border: 8px solid black;
    padding: 5px;
    border-radius: 22px;
    background-color: #FFFFFF;
    opacity: 0.6;
    position: absolute;
    visibility: hidden;
    overflow: scroll;
}

.cuadro {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    margin: 0px;
}

.menu {
    position: absolute;
    top: 85%;
    text-align:center; 
    visibility:hidden;
}

.menu2 {
    border: 1px solid #C0C0C0;
    padding: 5px;
    border-radius: 10px;
    background-color: #FFFFFF;
    opacity: 0.8;
}

.menuRoot2 {
    position: absolute;
    top: 85%;
    text-align:center; 
    visibility:hidden;
    border: 1px solid #C0C0C0;
    padding: 5px;
    border-radius: 10px;
    background-color: #FFFFFF;
    opacity: 0.8;
}

.comentario {
    padding: 2px;
    margin: 2px;
    border: 2px solid #009933;
    border-radius: 6px;
    background-color: #CCFFCC;
    font-size: 12px;    
    overflow: auto;
}

.editar {
    padding: 5px;
    margin: 2px;
    border: 2px solid #C0C0C0;
    border-radius: 15px;
    background-color: #FFFFCC;
    font-size: 14px;    
}

.error {
    border: 4px solid #FF5050;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    background-color: #FFCCCC;
    opacity: 0.8;
    font-size: 12px;    
    font-weight: bold;
}

.errorfino {
    padding: 5px;
    margin: 5px;
    margin: 2px;
    border: 1px solid #FF5050;
    border-radius: 15px;
    background-color: #FFCCCC;
    font-size: 14px;    
}

.texto {
    padding: 5px;
    margin: 2px;
    font-size: 14px;
    overflow: auto;
}

.ventana {
    padding: 5px;
    border-style: solid;
    border-width: 8px;
    border-radius: 22px;
    background-color: #C6ECFF;
    opacity: 0.8;
}

.comentarios {
    border: 2px solid #009933;
    border-radius: 15px;
}

.tip {
    border: 3px solid #FF0000;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    background-color: #FFFFFF;
    color: #CC0000;
    font-size: 18px;
    text-align: center;
}

.smalltip2 {
    border: 1px solid #FF0000;
    padding: 5px;
    border-radius: 10px;
    background-color: #CCCCCC;
    color: #CC0000;
    font-size: 12px;
    text-align: center;
    margin: 5px;
}

.smalltip {
    border: 1px solid #FF0000;
    padding: 5px;
    border-radius: 10px;
    background-color: #FFFFCC;
    color: #CC0000;
    font-size: 12px;
    text-align: center;
    margin: 2px;
}

.titulo0 {
    padding: 5px;
    font-size: 30px;
    font-family: 'Times New Roman' , Times, serif;
}

.tema {
    padding: 5px;
    font-size: 20px;
    font-family: 'Times New Roman' , Times, serif;
}

.op {
    padding: 5px;
    font-size: 16px;
    font-family: 'Times New Roman' , Times, serif;
    width: 100%;
}

.opValor {
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Times New Roman' , Times, serif;
    text-align: right;
    width: 100%;
}

.votos {
    border: 1px solid #C0C0C0;
    padding: 2px;
    border-radius: 16px;
    background-color: #E1E1E1;
    vertical-align: middle;
    color: #999999;
    width: 45px;
}

.titulo1 {
    padding: 5px;
    font-size: 25px;
    font-family: 'Times New Roman' , Times, serif;
}

.titulo2 {
    padding: 3px;
    font-size: 18px;
    font-family: 'Times New Roman' , Times, serif;
}

.titulo3 {
    padding: 1px;
    font-size: 15px;
    font-family: 'Times New Roman' , Times, serif;
}

.msg {
    padding: 5px;
    font-size: 20px;
    font-family: 'Times New Roman' , Times, serif;
    color: red;
}

.txt2 {
    margin: 5px;
    padding: 2px;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    background-color: #CCCCCC;
    font-size: 15px;
}

.txt {
    margin: 2px;
    padding: 2px;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    background-color: #FAF5F5;
    font-size: 15px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2.5px;
}

.node text {
    font: 16px sans-serif;
    font-weight: bold;
}

.btn {
    border: 2px solid #006666;
    background-color: #0066CC;
    color: #FFFFFF;
    border-radius: 16px;
    font-size: 15px;
    cursor: pointer;
    margin: 0px 0px 0px 5px;
}

.btn2 {
    border: 2px solid #006666;
    background-color: #0066CC;
    color: #FFFFFF;
    border-radius: 16px;
    font-size: 11px;
    cursor: pointer;
    margin: 0px 0px 0px 5px;
}
.btnDis {
    border: 2px solid #006666;
    background-color: #CCCCCC;
    color: #FFFFFF;
    border-radius: 16px;
    font-size: 15px;
    cursor: pointer;
}

.btnDis2 {
    border: 2px solid #006666;
    background-color: #CCCCCC;
    color: #FFFFFF;
    border-radius: 16px;
    font-size: 11px;
    cursor: pointer;
}
.btnimg {
   cursor: pointer;
}