body {
    font-family: verdana, Geneva, Tahoma, sans-serif;
    background-image: url("res/background.jpg");    
    font-size: 16px;
}

.tip {
    border: 3px solid #00CC99;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
    background-color: #CCFFCC;
    color: #009999;
    font-size: 15px;
    text-align: center;
    width: fit-content;
}

.smalltip2 {
    border: 1px solid #FF0000;
    padding: 5px;
    border-radius: 10px;
    background-color: #CCCCCC;
    color: #CC0000;
    font-size: 12px;
    text-align: center;
    margin: 5px;
}

.smalltip {
    border: 1px solid #FF0000;
    padding: 5px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #CC0000;
    font-size: 12px;
    text-align: center;
    margin: 5px;
}

.titulo0 {
    padding: 5px;
    font-size: 50px;
    font-family: 'Times New Roman' , Times, serif;
}

.titulo1 {
    padding: 5px;
    font-size: 30px;
    font-family: 'Times New Roman' , Times, serif;
}

.titulo2 {
    padding: 3px;
    font-size: 20px;
    font-family: Verdana;
}

.titulo3 {
    padding: 1px;
    font-size: 15px;
}

.seccion {
    padding: 3px;
    font-size: 20px;
    font-family: Verdana;
    text-align:center;
    margin: auto;
}

.seccion100 {
    padding: 3px;
    font-size: 20px;
    font-family: Verdana;
    text-align:center;
    margin: auto;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .seccion {
        padding: 3px;
        font-size: 20px;
        font-family: Verdana;
        text-align:center;
        margin: auto;
        width: 100%;
    }

}